<a href="https://colab.research.google.com/github/pingping-0606/Python_dataviz2024/blob/main/Data_Viz_2024_Exam_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Data Viz 2024 Exam 1

In [28]:
import os

In [29]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [30]:
path_to_TidyData='/content/drive/MyDrive/data_viz_2024/test-TidyData_2024.xlsx'

In [31]:
import pandas as pd

In [32]:
Tidy_df = pd.read_excel("/content/drive/MyDrive/data_viz_2024/test-TidyData_2024.xlsx")

#ข้อที่ 1

หาความแตกต่างของค่าเฉลี่ย ของข้อมูล Chlo_a ทุกๆ station ระหว่างปี 2018 และ ปี 2019

In [71]:
import pandas as pd

In [93]:
Tidy_df

,month,station,rep.,Chlo_a,Chlo_b,total_Caro,Temp.,pH,EC,Salinity,TDS,DO,Nitrate,Ammonium,Phosphate,No.Algal_cell,@dropdown
0,July_2018,1,1,0.094645,0.011954,0.026780,30.2,5.54,622.7,330.3,545.2,4.37,0.172902,0.052817,0.012748,1.635833e+05,NaN
1,July_2018,2,1,0.038433,0.059019,0.021387,29.1,6.24,580.7,307.0,488.2,6.55,0.154197,0.144843,0.006086,1.166667e+06,NaN
2,July_2018,3,1,0.043884,0.089415,0.023223,29.7,5.52,547.1,289.4,462.2,5.67,0.153097,0.154321,0.014158,2.970000e+06,NaN
3,July_2018,4,1,0.039836,0.064552,0.016537,29.2,5.92,473.6,249.2,397.9,0.69,0.157026,0.387408,0.056951,5.066667e+05,NaN
4,July_2018,5,1,0.044712,0.062424,0.022990,29.5,5.79,685.5,366.0,581.2,4.46,0.204024,0.043387,0.007239,1.265000e+06,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
193,July_2019,2,3,0.030521,0.015358,0.018067,31.2,7.74,580.5,309.2,517.0,6.31,0.132034,0.030959,-0.000064,2.665833e+05,NaN
194,July_2019,3,3,0.024081,0.020217,0.015981,29.7,7.50,513.0,272.6,436.0,3.00,0.230116,0.059103,-0.000064,6.428333e+05,NaN
195,July_2019,4,3,0.015525,0.009612,0.009373,31.5,7.51,550.9,289.8,498.4,4.02,0.123546,0.136428,-0.000064,2.945000e+05,NaN
196,July_2019,5,3,0.015180,0.011811,0.009697,28.5,7.31,540.6,287.4,443.4,1.53,0.110028,0.056057,-0.000064,3.470833e+05,NaN
197,July_2019,6,3,0.008556,0.010605,0.005704,31.5,7.71,544.7,288.2,493.8,6.32,0.165042,0.105817,-0.000064,3.692500e+05,NaN

In [76]:
Tidy_df = pd.read_excel("/content/drive/MyDrive/data_viz_2024/test-TidyData_2024.xlsx")

In [98]:
df_2018 = df[df['month'].str.contains('2018')]
df_2019 = df[df['month'].str.contains('2019')]

In [99]:
mean_2018 = df_2018.groupby('station')['Chlo_a'].mean().reset_index()
mean_2018.rename(columns={'Chlo_a': 'Mean_Chlo_a_2018'}, inplace=True)

mean_2019 = df_2019.groupby('station')['Chlo_a'].mean().reset_index()
mean_2019.rename(columns={'Chlo_a': 'Mean_Chlo_a_2019'}, inplace=True)

In [100]:
mean_comparison = pd.merge(mean_2018, mean_2019, on='station')

In [101]:
mean_comparison['Difference'] = mean_comparison['Mean_Chlo_a_2019'] - mean_comparison['Mean_Chlo_a_2018']
print(mean_comparison)

   station  Mean_Chlo_a_2018  Mean_Chlo_a_2019  Difference
0        1          0.052529          0.018268   -0.034261
1        2          0.048112          0.027911   -0.020201
2        3          0.053285          0.023057   -0.030228
3        4          0.046794          0.021620   -0.025173
4        5          0.043432          0.020100   -0.023331
5        6          0.043809          0.015594   -0.028215

#ข้อ 2

สร้างตารางค่าเฉลี่ย Chlo_b ทุกๆ station ของแต่ละเดือน

In [102]:
import pandas as pd

In [103]:
Tidy_df = pd.read_excel("/content/drive/MyDrive/data_viz_2024/test-TidyData_2024.xlsx")

In [104]:
print(df.head())

       month  station  rep.    Chlo_a    Chlo_b  total_Caro  Temp.    pH  \
0  July_2018        1     1  0.094645  0.011954    0.026780   30.2  5.54
1  July_2018        2     1  0.038433  0.059019    0.021387   29.1  6.24
2  July_2018        3     1  0.043884  0.089415    0.023223   29.7  5.52
3  July_2018        4     1  0.039836  0.064552    0.016537   29.2  5.92
4  July_2018        5     1  0.044712  0.062424    0.022990   29.5  5.79

      EC  Salinity    TDS    DO   Nitrate  Ammonium  Phosphate  No.Algal_cell  \
0  622.7     330.3  545.2  4.37  0.172902  0.052817   0.012748   1.635833e+05
1  580.7     307.0  488.2  6.55  0.154197  0.144843   0.006086   1.166667e+06
2  547.1     289.4  462.2  5.67  0.153097  0.154321   0.014158   2.970000e+06
3  473.6     249.2  397.9  0.69  0.157026  0.387408   0.056951   5.066667e+05
4  685.5     366.0  581.2  4.46  0.204024  0.043387   0.007239   1.265000e+06

   @dropdown
0        NaN
1        NaN
2        NaN
3        NaN
4        NaN

In [107]:
mean_chlo_b = df.groupby(['month', 'station'])['Chlo_b'].mean().reset_index()

In [108]:
mean_chlo_b.rename(columns={'Chlo_b': 'Mean_Chlo_b'}, inplace=True)

In [109]:
print(mean_chlo_b)

       month  station  Mean_Chlo_b
0   Apr_2019        1     0.051381
1   Apr_2019        2     0.019378
2   Apr_2019        3     0.030775
3   Apr_2019        4     0.020170
4   Apr_2019        5     0.027015
..       ...      ...          ...
61  Sep_2018        2     0.074578
62  Sep_2018        3     0.076292
63  Sep_2018        4     0.064670
64  Sep_2018        5     0.060733
65  Sep_2018        6     0.061750

[66 rows x 3 columns]